<h1><%= @title %></h1>

<table border="1">
<tr>
   <th>Service Tag</th>
   <th>Kills</th>
   <th>Deaths</th>
   <th>Spread</th>
</tr>
<% @player_stats.each do |player_stat| %>
<tr>
   <td><%= player_stat.service_tag %></td>
   <td><%= player_stat.kills %></td>
   <td><%= player_stat.deaths %></td>
   <td><%= player_stat.spread %></td>
</tr>
<% end %>
</table>

<%= link_to "Home", "home#index" %>
